/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap';
// @import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap';

$font-family: "IMB Plex Sans", sans-serif;
$font-family-serif: "Atkinson Hyperlegible", sans-serif;

$primary: #2c2c2c;

// Base document colors
//$body-bg: #f8f9fa;
//$body-color: black;
//$link-color: grey;

//$navbar-bg: #f8f9fa;
//$navbar-fg: black;
// $navbar-hl: 

/*-- scss:rules --*/

